name: Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        run: |
          sudo apt install ruby-full
          sudo gem install bundler:2.2
          bundle _2.2.0_ install
          sudo apt update
      - name: Run CI scripts
        run: bin/ci
